.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100%;

  --pink6: #E83261;
  --pink5: #EE4D6F;
  --pink4: #FF769D;
  --pink3: #EE98BD;
  --pink2: #FE80CB;
  --pink1: #FFCBE1;
  --pink0: #F5E8ED;

  --yellow0: #FADC57;
}

/**

skiplink

*/

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}