form {
  display: flex;
  flex-direction: column;

  margin-top: 1rem;
}

form * {
  margin: 0.5rem auto;
}

form button {
  margin-top: 3rem;

  width: 10rem;
  height: 2rem;
  border: 0;

  color: white;
  background-color: orange;
  cursor: pointer;
}

.required span:after {
  content: " *";
  color: red;
}

@media screen and (max-width: 50rem) {
  form * {
    margin: 0.2rem auto;
  }

  label {
    display: flex;
    flex-direction: column;
  }
}