footer {
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-top: 1px solid black;

  text-align: center;

  background-color: var(--pink4);
}

footer .line {
  margin: 0rem 5rem 0rem 5rem;
  border-top: 3px solid var(--pink6);
}